[Desktop Entry]
Name=PGCC-IDE
Exec=pgide %F
Icon=/usr/share/icons/hicolor/48x48/apps/pgcc-ide-48x48.png
Type=Application
Categories=GNOME;GTK;Development;GUIDesigner;
Terminal=false
StartupNotify=true
Comment=Graphical editor for PGCC scripts
MimeType=pgcc/script;
