<script>
const EventEmitter = require('events').EventEmitter;
const util = require('util');
</script>
<link rel="import" href="../components/ModuleComponent.html">
<link rel="import" href="../components/LinkComponent.html">
<link rel="import" href="../components/ModuleCreator.html">
<link rel="import" href="../components/LinkCreator.html">
<link rel="import" href="../components/LinkCreator.html">
<link rel="import" href="../workbench/Clipboard.html">


<dom-module id="view-editor">
<style>
	svg {
		width:100%; height:100%; box-sizing: border-box;
	}

	svg /deep/ rect.module {
		z-index:10;
		stroke-width:1;
		stroke:#666666;
		fill:#DDDDDD;
	}

	svg /deep/ text.module {
		font-size:11px;
	}

	svg /deep/ rect.pin {
		stroke:none;
		fill:black;
	}
	svg /deep/ text.pin {
		font-size:10px;
	}

	svg /deep/ path {
		stroke-width:2;
		stroke:black;
		z-index:-11;
		fill:none;
		cursor:hand;
		marker-end:url(#end-mark);
	}
	svg /deep/ path:hover {
		stroke-width:5;
	}

	svg /deep/ .selected rect.module,
	svg /deep/ path.selected {
		stroke-width:6;
		stroke:red;
	}

	marker#end-mark path { fill:black; }

	#loading { position:absolute; top:0; left:0; bottom:0; right:0; background:#dddddd; color:#777777; font-size:20px; font-weight:bold; display:flex; justify-content: center; align-items: center; }

</style>
<template>
	<div id="loading">Loading ...</div>
	<svg id="svg">
		<defs>
			<marker id="end-mark" viewBox="-100 -100 200 200"  markerWidth="8" markerHeight="8" orient='auto'>
	 			 <--><path class='marker-path' d='M0,50 L100,0 L0,-50 Z'/>
   			</marker>
		</defs>
		<g id="world"></g>
	</svg>
</template>
</dom-module>
<script>


var PGCC = require("pgcc");

var LAST_NEW_DOC = 0;


Polymer({
	is: 'view-editor',
	properties: {
		selection: {notify:true, value:null},
		modified: {notify:true, observer:"onModifiedChanged"},
		filename: {notify:true}
	},
	observers: {
		'loaded': 'onLoaded'
	},

	attached: function() {
		var that = this;
		var _zooming = false;

		// Setup mouse navigation
		this.zoomBehavior = d3.behavior.zoom().scaleExtent([0.04,200])
		.on('zoomstart', function(){})
		.on('zoom', function (){
			d3.select(that.$.world).attr('transform', 'translate(' + d3.event.translate + '),scale(' + d3.event.scale + ')');
		})
		.on('zoomend', function(){});
		d3.select(this.$.svg).call(this.zoomBehavior);

		// Pan view only with middle mouse button
		var fn_mousemove = d3.select(this.$.svg).on("mousedown.zoom");
		d3.select(this.$.svg).on("mousedown.zoom", function(){
			if(d3.event.which === 2) return fn_mousemove.apply(this, arguments);
		});


		$(this.$.svg).on("mousemove", function(evt){
			if(that.creator && that.creator.onMousemove(evt)) return;
			that.onMousemove(evt);
		});

		this.$.svg.addEventListener("click", function(evt) {
			if(that.creator && that.creator.onClick(evt)) return;
			that.unselect();
		});

		this.world = d3.select(this.$.world);


		if(this.filename) this.async(function() {this.open(this.filename); });
		else this.async(function() {this.newDocument();})

	},


	//////////////
	// COMMANDS //
	//////////////

	newDocument: function() {
		this.filename = "NewScript_"+(LAST_NEW_DOC++)+".script";
		this.fire("label", this.filename);
		this.script = new PGCC.Script();
		this.onLoaded();
		this.modified = true;
	},

	open: function(filename) {
		var that = this;
		this.filename = filename;
		this.script = new PGCC.Script(filename);
		if(!this.script) throw "Script can't be loaded " + filename;

		this.script.on("loaded", function() {
			that.script.modules.forEach(function(m) { that.addModule(m); });
			that.script.links.forEach(function(l) {	that.addLink(l); });
			setTimeout(function() {that.onLoaded();},10);
		});

	},

	close: function() {
		var that = this;
		if(!this.modified) return this.fire("close");
		if(confirm(this.filename + " has been modified. Save changes ?")) {
			this.save();
			setTimeout(function(){that.fire("close");}, 40);
		}
	},

	save: function() { return this.saveAs(this.filename); },

	saveAs: function(filename) {
		var that = this;
		ZOB = this.script;
		return this.script.write(filename).then(function() {
			that.filename = filename;
			that.fire("label", this.filename);
			that.modified = false;
		}).catch(function(e) { alert(e);});
	},



	///////////////
	// SELECTION //
	///////////////

	getSelection: function() {
		var s = this.selection.component;
		if(!s) return this.selection;
		return s;
	},

	select: function(o) {
		if(this.selection) this.getSelection().setSelected(false);
		this.selection = Array.isArray(o) ? o[0] : o; // TODO Multiple selection
		this.getSelection().setSelected(true);

		WORKBENCH.selection = this.selection;
	},

	unselect: function() {
		if(this.selection) this.getSelection().setSelected(false);
		this.selection = null;

		WORKBENCH.selection = this.selection;
	},


	/////////////
	// EDITION //
	/////////////

	addModule: function(m) {
		m.component = new ModuleComponent(this, m);
	},

	addLink: function(l) {
		l.component = new LinkComponent(this, l);
	},

	delete: function() {
		if(!this.selection) return;
		this.getSelection().remove();
		this.unselect();
		this.notifyModify();
	},

	connect: function(src, dst, srcPin, dstPin) {
		if(!this.script) return;
		var that = this;
		if(typeof(src) === 'string' && src.indexOf(".")!==-1) { srcPin = src.split(".")[1]; src = src.split(".")[0];  }
		if(typeof(dst) === 'string' && dst.indexOf(".")!==-1) { dstPin = dst.split(".")[1]; dst = dst.split(".")[0];  }
		if(typeof(src) === 'string') src = this.script.getModule(src);
		if(typeof(dst) === 'string') dst = this.script.getModule(dst);
		if(!src || !dst) throw "No such modules (" + src + " -> " + dst + ")";

		this.addLink(new Link(src, dst, srcPin, dstPin));
		this.notifyModify();
	},



	//////////////
	// CREATORS //
	//////////////

	createModule: function(hint) {
		if(!this.script) return;
		if(this.creator) this.creator.cancel();

		var m = new PGCC.Module(this.script);
		m.class = hint.class;
		m.id = hint.class + "0";
		if(hint.id) m.id = hint.id;

		this.creator = new ModuleCreator(this, m);
		this.creator.on("create", function() {that.push("modules", m);});
	},

	createLink: function(hint) {
		if(!this.script) return;
		if(this.creator) this.creator.cancel();

		var l = new PGCC.Link(this.script, null, null);
		this.creator = new LinkCreator(this, l);
	},


	///////////////
	// CLIPBOARD //
	///////////////

	cut: function() {
		if(!this.selection) return;
		CLIPBOARD.cut(this.selection);
		this.unselect();
		this.notifyModify();
	},

	copy: function() {
		if(!this.selection) return;
		CLIPBOARD.copy(this.selection);
	},

	paste: function() {
		var pasted = CLIPBOARD.paste(this, this.mousePosWorld);
		this.select(pasted);
		this.notifyModify();
	},


	////////////
	// EVENTS //
	////////////

	onMousemove: function(evt) {
		this.mousePos = {x:evt.offsetX, y:evt.offsetY};
		this.mousePosWorld = this.clientToWorld(this.mousePos);
	},

	clientToWorld: function(pt) {
		var tr = d3.transform(this.world.attr("transform"));
		var x = (pt.x - tr.translate[0]) / tr.scale[0];
		var y = (pt.y - tr.translate[1]) / tr.scale[1] ;
		return {x:x,y:y};
	},

	notifyModify: function() {
		this.modified = true;
		WORKBENCH.fire("modify");
	},

	onModifiedChanged: function() {
		if(this.modified) this.fire("label", this.filename + "*");
		else this.fire("label", this.filename || "null");
	},

	onLoaded: function() {
		this.modified = false;
		$(this.$.loading).fadeOut();
	},

	onFocus: function() {
		WORKBENCH.curEditor = this;
	}

});


</script>
